  <div class="beige-wrapper">
  
            <div class="heading"><h2>就業規則</h2></div>



















会社名
<%= @employment.created_at %>
</br>
</br>


 

<p>
（目的）
第１条　この就業規則は、従業員の労働条件、服務規律その他の就業に関する事項を定めるものである。 
２　この規則に定めのない事項については、労働基準法その他の法令の定めによる。
</p>
<p>
（対象）
第２条　この就業規則は全従業員に適用する。全従業員の対象の範囲は以下の内訳とする。
２　正社員とは、契約期間の定めがなく、日給もしくは月給にて定めるものとする。
３　契約社員とは、契約期間の定めがあり、日給もしくは月給にて定めるものとする。
４　パートタイマーとは、期間の定めがあり、時給にて支給するものとする。
</p>
<p>
（服務の遵守） 
第３条　従業員はこの規則を遵守し、業務上の指示命令に従うとともに、誠実に自己の業務に専念し、互いに協力して職場の秩序を維持しなければならない。 
２　従業員は職場内のみでなく、職務に関連する全ての場所において、性的言動により他の従業員に不利益や不快感を与えたり、就業環境を害するようなことをしてはならない。 
</p>
<p>
（採用手続及び提出書類） 
第４条　会社は、就職を希望する者の中から選考して従業員を採用する。新たに採用した者については、採用の日から試用期間を設ける。また、会社が指定する書類を会社の指定した日までに提出しなければならない。 
　⑴試用期間　<%= @employment.trial_period %>
２　前項の規定に基づき会社に提出された書類は、配置及び賃金その他処遇の決定、租税、社会保険その他の関係法令に基づく手続、会社の人事政策及び雇用管理の目的のために利用する。 
</p>
<p>
（労働時間及び休憩時間） 
第５条　１週間の所定労働時間は、毎月１日を起算日として、１ヶ月を平均して、１週間当たり４４時間とする。
２　１日の所定労働時間は、８時間００分とする。 
３　始業・終業の時刻及び休憩時間は、次のとおりとする。ただし、業務の都合その他やむを得ない事情により、これらを繰り上げ、又は繰り下げることがある。この場合 において業務の都合によるときは、 が前日までに通知する。 　
就業時間：<%= @employment.work_start %>~<%= @employment.work_out %>
休憩：<%= @employment.break_in %>~<%= @employment.break_out %>
</p>
<p>
※練習等を行なっている場合、それを含めた時間を営業時間に設定する。尚、休憩を除き、就業時間は１日８時間（もしくは週４４時間）となるようにする。
※１０名以下のサービス業は週４４時間。その他は週４０時間がMAX
※休憩６時間までは最低４５分、それ以上は最低１時間の休憩が必要
</p>
<p>
（休日） 
第６条　休日は、次のとおりとする。 
　(１)　法定休日　　<%= @employment.holiday %>
　(２)　法定外休日 
　　　①　ゴールデンウィーク
　　　②   お盆休暇
　　　③　その他会社の定める日 
２　会社は、業務の都合によりやむを得ない場合には、あらかじめ前項の休日と他の日を振り替えることがある。 
</p>
<p>
（時間外及び休日労働） 
第７条　会社は、業務の都合により、第４条の所定労働時間を超え、又は前条の所定休日に労働させることがある。 
</p>
<p>
（年次有給休暇） 
第８条　１　採用日から６か月間継続勤務し、所定労働日の８割以上出勤した従業員に10日の年次有給休暇を与える。その後１年間継続勤務するごとに、当該１年間において所定労働日の８割以上出勤した従業員に、次の表のとおり勤続期間に応じた日数の年次有給休暇を与える。
┌────┬───┬───┬───┬───┬───┬───┬────┐
｜勤続期間｜６か月｜１年　｜２年　｜３年　｜４年　｜５年　｜６年６か｜
｜　　　　｜　　　｜６か月｜６か月｜６か月｜６か月｜６か月｜月以上　｜
├────┼───┼───┼───┼───┼───┼───┼────┤
│付与日数│１０日│１１日│１２日│１４日│１６日│１８日│２０日    │
└────┴───┴───┴───┴───┴───┴───┴────┘
２　前項の規定にかかわらず、週所定労働時間が30時間未満であり、かつ、週所定労働日数が４日以下（週以外の期間によって所定労働日数を定める者については年間所定労働日数が216日以下）の者に対しては、次の表のとおり所定労働日数及び勤続期間に応じた日数の年次有給休暇を与える。

┌───┬─────────┬───────────────────────────┐
│　　　│　　　　　　　　　│　　　　　勤　　　　　続　　　　　期　　　　　間　　　│
│　　　│　　　　　　　　　├───┬───┬───┬───┬───┬───┬───┤
│週所定│１年間の　　　　　│６か月│１年　│２年　│３年　│４年　│５年　│６年　│
│労働　│　　　所定労働日数│　　　│６か月│６か月│６か月│６か月│６か月│６か月│
│日数　│　　　　　　　　　│　　　│　　　│　　　│　　　│　　　│　　　│以上　│
├───┼─────────┼───┼───┼───┼───┼───┼───┼───┤
│　４日│１６９日～２１６日│　７日│　８日│　９日│１０日│１２日│１３日│１５日│
├───┼─────────┼───┼───┼───┼───┼───┼───┼───┤
│　３日│１２１日～１６８日│　５日│　６日│　６日│　８日│　９日│１０日│１１日│
├───┼─────────┼───┼───┼───┼───┼───┼───┼───┤
│　２日│　７３日～１２０日│　３日│　４日│　４日│　５日│　６日│　６日│　７日│
├───┼─────────┼───┼───┼───┼───┼───┼───┼───┤
│　１日│　４８日～　７２日│　１日│　２日│　２日│　２日│　３日│　３日│　３日│
└───┴─────────┴───┴───┴───┴───┴───┴───┴───┘
３　第１項又は第２項の年次有給休暇は、従業員があらかじめ請求する時季に取得させる。ただし、従業員が請求した時季に年次有給休暇を取得させることが事業の正常な運営を妨げる場合は、他の時季に取得させることがある。
</p>
<p>
（賃金の種類） 
第９条　賃金の種類は、次のとおりとする。 
　（１）　基本給 
　（２）　<%= @employment.allowance %>
</p>
<p>
（<%= @employment.allowance %>） 
第１０条　<%= @employment.allowance %>は、<%= @employment.allowance_contents %>
</p>
<p>
（割増賃金） 
第１５条　月給者の割増賃金は、次の算式により計算して支給する。 
　　　　①　時間外労働割増賃金（法定労働時間を超えて労働させた場合） 
　　　　　　　基本額÷１ヵ月平均所定労働時間×1.25×時間外労働時間数 
　　　　②　休日労働割増賃金（法定の休日に労働させた場合） 
　　　　　　　基本額÷１ヵ月平均所定労働時間×1.35×休日労働時間数 
　　　　③　深夜労働割増賃金（午後10時から午前５時までの間に労働させた場合） 
　　　　　　　基本額÷１ヵ月平均所定労働時間×0.25×深夜労働時間数 
２　前項の１ヵ月平均所定労働時間数は、次の算式により計算する。 
　　　　　年間所定労働日数×１日所定労働時間数÷12 
３　日給者又は時給者の割増賃金を計算する場合は、第１項の算式を次のように読み替えて算定する。 
　　　　①　日給者の場合 
　　　　　　　基本額÷１ヵ月平均所定労働時間を基本額÷１日所定労働時間と読み替 
　　　　　　　える。 
　　　　②　時給者の場合 
　　　　　　　基本額を時給額と読み替える。 
</p>
<p>
（年次有給休暇の賃金） 
第１６条　年次有給休暇の期間は、所定労働時間労働したときに支払われる通常の賃金を支給する。 
</p>
<p>
（欠勤等の扱い） 
第１７条　欠勤、遅刻、早退及び私用外出の時間については、原則として１時間当たりの賃金額に欠勤、遅刻、早退及び私用外出の合計時間数を乗じた額を差し引くものとする。 
</p>
<p>
（賃金の計算期間及び支払日） 
第１８条　賃金は毎月<%= @employment.closing_on %>に締め切り、毎月<%= @employment.payment_on %>に支払う。
ただし、支払日が休日に当たるときはその前日に繰り上げて支払う。 
２　月給者であって、賃金の計算期間の中途で採用され、又は退職した場合の賃金は、当該計算期間の所定労働日数を基準に日割計算して支払う。 
</p>
<p>
（賃金の支払いと控除） 
第１９条　賃金は、従業員に対し、通貨で直接その全額を支払う。ただし、次に掲げるものは、賃金から控除するものとする。
　（１）　<%= @employment.desuction %>
　（２）　その他、従業員代表との書面協定により賃金から控除することとしたもの 
</p>
<p>
（昇給）
第２０条　昇給は、勤務成績その他が良好な労働者について、毎年４月１日をもって行うものとする。ただし、会社の業績の著しい低下その他やむを得ない事由がある場合は、行わないことがある。
２　顕著な業績が認められた労働者については、前項の規定にかかわらず昇給を行うことがある。
３　昇給額は、労働者の勤務成績等を考慮して各人ごとに決定する。
</p>
<p>
（定年及び退職） 
第２１条　従業員の定年は６５歳とする。定年に達した日の直後の給与締切日をもって退職とする。 
２　期間を定めて雇用した者の契約期間が満了したときは退職とする。 
３　従業員が自己の都合により退職しようとするときは、少なくとも３０日前までに退職願を提出しなければならない。 
</p>
<p>
（解雇） 
第２２条　従業員が次の各号のいずれかに該当するときは、解雇するものとする。 
　（１）　精神又は身体に障害があるか、もしくは虚弱、疾病のため業務に耐えられないとき 
　（２）　協調性がなく、注意、指導しても改善の見込みがないと認められるとき 
　（３）　勤怠不良で改善の見込みがないと認められるとき 
　（４）　業務能率が著しく劣り業務の習得の見込みがないとき 
　（５）　特定の地位、職種又は一定の能力を条件として雇い入れられた者で、その 
　　　　能力、適格性が欠けると認められるとき 
　（６）　事業の縮小その他会社のやむを得ない事由がある場合で、かつ、他の職務に 
　　　　転換することができないとき 
　（７）　天災地変その他やむを得ない事由により、事業の継続が不可能となり、雇用 
　　　　を維持することができなくなったとき 
　（８）　会社の指示命令等に違反する重大な行為があったとき、又は服務に違反した 
　　　　とき 
　（９）　私生活上の非行又は犯罪等の非違行為があり、当社の社員として適格性がな 
　　　　いと判断されるとき 
　（10）　その他この規則に違反し、又は非違行為を繰り返し、あるいは前各号に準ずる 
　　　　やむを得ない行為及び事情があったとき 
</p>
<p>
（解雇予告） 
第２３条　会社は、前条の定めにより従業員を解雇する場合は、労働基準法第21条第１号から第４号に定める者を除き、30日前に本人に予告し、又は平均賃金の30日分に相当する予告手当を支給する。 
２　前項の予告日数については、平均賃金を支払った日数だけ短縮する。 
</p>
<p>
（健康診断等）
第２４条　社員には、毎年１回以上、会社の指定する医師による定期健康診断を受診しなければならない。また、法に定められた者は６か月に１回実施する健康診断を受診しなければならない。
</p>
<p>
(退職金の支給)
第２５条　退職金は支給しないものとする。
</p>
<p>
(賞与)
第２６条　賞与は支給しないものとする。
</p>
<p>
(正規雇用への転換)
第２７条　勤続半年以上の者又は有期実習型訓練修了者で、本人が希望する場合は、正規雇用に転換さ
 せることがある。
2 転換時期は、随時とする。
3 代表者の推薦がある者に対し、面接及び筆記試験を実施し、合格した場合について転換することとする。
</p>
<p>
附　　則 
　この規則は、平成　　年　月　日より施行する。
　最終改定日、平成　　年　月　日より施行する。
　　　・正規雇用への転換