
														  <!--　メイン　-->
														  
														  
  <div class="kintai-wrapper">
    	<div class="container" "shadow">
     			 <h1>勤怠管理システム『SMART』</h1></br>
     			 <h1>労働基準法から徹底的にお守りします。</h1></br>
      			 <p>『SMART』は過去の実例から作成された勤怠管理システムです。</p>
      			 <p>労働基準法を遵守するのは当然の事、労務トラブル回避に繋がります。</p>
      			 </br></br></br>
 	 	</div>
  </div>


  
  
  
  <!--　メイン２の記述　-->
  <div class="green-wrapper">
  
             <div class="heading"><h2>What's 『SMART』?</h2>
             <p>『勤怠管理システムSMART』とは？</p></div>

      <%= image_tag("hachikin.png", :class=> "image2") %>
      <h4>現在中小企業では、勤怠管理を明確に管理出来ている会社が少ないのはご存知でしょうか？</br></br>
      『労働基準法』『最低賃金法』会社を運営する上で嫌でも耳にする言葉ではないでしょうか？</br></br>
      本来、会社を守るために必ず覚えておくべき事項ですが、毎年変化する法律に中小企業が対応する事が非常に困難と言われています。</br></br>
      現在の中小企業で全ての法律を遵守出来ている企業は１０％にも満たないと言われています。</br></br>
      しかし、この法律は万一の労務トラブルや国の調査が入った際に問題が発生した場合、会社の運営継続が困難な程に社会的信用を傷つける可能性も。</br></br>
      『SMART』では、出勤表・給与明細を生成する上で、法的に違反する部分を指摘し、法律に遵守するシステムに構築する事で、企業の健全な運営をサポートします。</h4>
    </div>
  </div>
  
  
  
  <!--　メイン３の記述　-->
    <div class="beige-wrapper">

                <div class="heading"><h2>Performance</h2>
                <p>勤怠管理システムで出来る事</p></div>


                <div class="performance">
                    <div class="performance-icon">
                             <h3>出退勤</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">毎年度、厚生労働省より助成金が発表されます。研修を計画的に実施したり、正社員に転換することで助成金が受給出来ます。</p>
               </div>              
              <div class="performance">
                    <div class="performance-icon">
                             <h3>シフト表</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">各業種毎の研修商材を提供致しております。助成金と組み合わせることで、教育をしながら助成金を受給することが出来ます。</p>
               </div>
               <div class="performance">
                    <div class="performance-icon">
                             <h3>給与明細</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">勤怠管理は法律や保存義務等、覚える事は多岐に渡ります。当社では自社開発勤怠管理システム『SMART』により企業の勤怠を徹底サポートします。</p>
               </div>
               
               
                <div class="performance">
                    <div class="performance-icon">
                             <h3>雇用契約書</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">毎年度、厚生労働省より助成金が発表されます。研修を計画的に実施したり、正社員に転換することで助成金が受給出来ます。</p>
               </div>              
              <div class="performance">
                    <div class="performance-icon">
                             <h3>就業規則</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">各業種毎の研修商材を提供致しております。助成金と組み合わせることで、教育をしながら助成金を受給することが出来ます。</p>
               </div>
               <div class="performance">
                    <div class="performance-icon">
                             <h3>有給台帳</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">勤怠管理は法律や保存義務等、覚える事は多岐に渡ります。当社では自社開発勤怠管理システム『SMART』により企業の勤怠を徹底サポートします。</p>
               </div>
               
                           <div class="clear"></div>

  </div>


  
  
     <!--　お申し込み画面への誘導　-->
  <div class="green-wrapper">
  
      			<div class="heading"><h2>CONTACT</h2>
      			 <p>お問い合わせ</p></div>
        				<h3>ご不明点があれば以下問い合わせフォームよりお気軽にお問い合わせ下さい</h3>	
        		<span class="btn message signup-show">問い合わせフォームへ</span>
 </div>
  



 <!--　メイン５の記述　-->
  <div class="beige-wrapper">
    <div class="container">
        <div class="heading">
            <h2>よくある質問</h2>
        </div>
          <div class="faq">
            <ul id="faq-list">
                    <li class="faq-list-item">
                       <!--　よくある質問その１　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その２　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その３　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その４　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その５　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その６　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その７　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その８　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その９　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その１０　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>

            </ul>
        </div>
    </div>
  </div>
 

  
    <!--　以下フッター　-->
  <footer>
   				 <div class="container">

  									    <p>SMARTで人材管理をとってもお手軽に</p>
   		 		</div>
  </footer>
  
  
    <!--　ジャバスクリプト読み込み　-->
			</body>
</html>