  <div class="beige-wrapper">
  
            <div class="heading"><h2>出退勤管理</h2>
            <p>Time leaving home</p></div>



<div id = "time_now">
<%= @current.strftime('%Y年%m月%d日 %X %a') %>
</div>
<div class="stumps">
	                                                        
	                                                        
	                                                        <!--出勤 -->                                                        
	                                                    
  <%- if @current_attend.present? -%>
    <div class="square_btn stump">出勤</div>
  <%- else -%>
    <%= link_to("出勤", start_attends_path, class: "square_btn stump") %>
  <%- end -%>
  
  
	                                                    <!--休憩開始 -->      
	                                                        
  <%- if @current_attend.present? -%>
    <%- if @current_attend.rest_start_at.blank? -%>
      <%= link_to("休憩開始", rest_time_start_attend_path(@current_attend), class: "square_btn stump") %>
      <div class="square_btn stump">休憩終了</div>
    <%- else -%>
      <div class="square_btn stump">休憩開始</div>
      <%- if @current_attend.rest_end_at.blank? -%>
        <%= link_to("休憩終了", rest_time_end_attend_path(@current_attend), class: "square_btn stump") %>
      <%- else -%>
        <div class="square_btn stump">休憩終了</div>
      <%- end -%>
    <%- end -%>
    <%= link_to("退勤", finish_attend_path(current_user.attends.started.last), class: "square_btn stump") %>
  <%- else -%>
    <div class="square_btn stump">休憩開始</div>
    <div class="square_btn stump">休憩終了</div>
    <div class="square_btn stump" disabled>退勤</div>
  <%- end -%>
    
  <br/>
  
  
  <%# print_worker_path(1) の1は暫定的に設定。実際はworkerの当該IDをセットすること %>
  <%- if current_user.present? && current_user.attends.exists? -%>
    <%= link_to("テストプリント", print_worker_path(1), class: "square_btn stump", target: "_blank") %>
  <%- end -%>
</div>